html {
    margin: 56.7 56.7 56.7 82.05;
}

body {
    background-color: #979595;
    font-family: Arial;
}

h1 {
    font-size: 16;
    text-align: center;
}

#membrete {
    font-family: Arial;
    font-weight: bold;
    font-size: 10;
    text-align: center;
}

#bolivia {
    text-decoration: underline;
}

br {
    font-family: Arial;
    font-size: 10;
}

#datos_user {
    font-family: Arial;
    font-size: 12;
    text-align: justify;
}

#datos_user .item {
    font-weight: bold;
    vertical-align: top;
}

#datos_user .contenido {
    font-family: Arial;
    vertical-align: top;
    font-size: 12;
}